<header class="navbar bg-base-100">
  <div class="navbar-start">
    <a class="btn btn-ghost normal-case text-5xl" [routerLink]="['/']">
      <nexus-logo></nexus-logo>
    </a>
  </div>
  <div class="navbar-end">
    <ng-container *ngIf="!isLoggedIn; else logoutActions">
      <a class="btn btn-ghost btn-circle" [routerLink]="['/login']">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 512 512"
          class="w-8 h-8"
        >
          <path
            d="M192 176v-40a40 40 0 0 1 40-40h160a40 40 0 0 1 40 40v240a40 40 0 0 1-40 40H240c-22.09 0-48-17.91-48-40v-40"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="32"
          ></path>
          <path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="32"
            d="M288 336l80-80l-80-80"
          ></path>
          <path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="32"
            d="M80 256h272"
          ></path>
        </svg>
      </a>
    </ng-container>
    <ng-template #logoutActions>
      <a
        class="btn btn-ghost btn-circle"
        href="javascript:;"
        (click)="logout()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 512 512"
          class="w-8 h-8"
        >
          <path
            d="M304 336v40a40 40 0 0 1-40 40H104a40 40 0 0 1-40-40V136a40 40 0 0 1 40-40h152c22.09 0 48 17.91 48 40v40"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="32"
          ></path>
          <path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="32"
            d="M368 336l80-80l-80-80"
          ></path>
          <path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="32"
            d="M176 256h256"
          ></path>
        </svg>
      </a>
    </ng-template>
  </div>
</header>
