<main class="register-wrap">
  <section>
    <div class="flex justify-center items-center text-7xl mb-10">
      <nexus-logo [extended]="true"></nexus-logo>
    </div>
    <form [formGroup]="register" (ngSubmit)="submitForm()" autocomplete="off">
      <input type="text" formControlName="name" placeholder="Your name" />
      <input type="email" formControlName="email" placeholder="Email" />
      <input
        type="password"
        formControlName="password"
        placeholder="Password"
      />
      <input
        type="password"
        formControlName="passwordRepeat"
        placeholder="Password confirmation"
      />
      <button
        type="submit"
        [disabled]="
          !register.valid ||
          register.value.password !== register.value.passwordRepeat ||
          loading
        "
      >
        <span
          class="loading loading-spinner"
          *ngIf="loading; else submitFormLabel"
        ></span>
        <ng-template #submitFormLabel>Create account</ng-template>
      </button>
    </form>
    <a [routerLink]="['/login']">
      Do you already have an account?<br />Log in here!
    </a>
  </section>
</main>
